.App {
  text-align: center;
  display: flex;
  padding: 20px 10px;
}
.Pictures {
  margin: 10px;
}
img {
  margin: 5px;
}
.Board {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: 90vh;
  border: 2px solid rgb(255, 106, 47);
  background-color: rgb(232, 206, 181);
  align-items: flex-start;
  justify-content: space-evenly;
  overflow: scroll;
}
